/* select */

.select {
  display: inline-block;
  max-width: 100%;
  position: relative;
  vertical-align: middle;
  height: 2.5em;
}

.select select {
  cursor: pointer;
  display: block;
  font-size: 1em;
  max-width: 100%;
  outline: 0;
  padding-right: 2.5em;
}

.select::after {
  border: 3px solid transparent;
  border-radius: 2px;
  border-right: 0;
  border-top: 0;
  content: " ";
  display: block;
  height: 0.625em;
  margin-top: -0.4375em;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: rotate(-45deg);
  transform-origin: center;
  width: 0.625em;

  border-color: #dbdbdb;
  right: 1.125em;
  z-index: 4;
}
